---
title: Le Wagon - Middleman
---

<% today = Date.today.strftime('%A %B %e %Y') %>
<div id="home">

  <h1><%= today %></h1>
  <h2>teachers</h2>
  <ul class="list-inline">
    <% %w(Peter Dan Thibault Brian Grace Steve Fabien Allen).each do |teacher| %>
    <li> <%= teacher %> </li>
    <% end %>
  </ul>
  <a href="#" class="btn btn-primary">Click meee!</a>
</div>
